@model FindStructor.ViewModel.DrivingInstructorViewModel
@{
    ViewBag.Title = "AccountSetup";
}

<h2>Driving Instructor Account Setup</h2>
<div class="account-setup">
    <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item account-setup__nav">
            <a class="nav-link active" id="PrimaryInfo-tab" data-toggle="pill" href="#PrimaryInfo" role="tab" aria-controls="pills-PrimaryInfo" aria-selected="true">1 Profile Info</a>
        </li>
        <li class="nav-item account-setup__nav">
            <a class="nav-link disabled" id="ProfilePicture-tab" data-toggle="pill" href="#ProfilePicture" role="tab" aria-controls="pills-ProfilePicture" aria-selected="false">2 Profile Picture</a>
        </li>
        <li class="nav-item account-setup__nav">
            <a class="nav-link disabled" id="AboutMe-tab" data-toggle="pill" href="#AboutMe" role="tab" aria-controls="pills-AboutMe" aria-selected="false">3 About Me</a>
        </li>
        <li class="nav-item account-setup__nav">
            <a class="nav-link disabled" id="ContactInfo-tab" data-toggle="pill" href="#ContactInfo" role="tab" aria-controls="pills-ContactInfo" aria-selected="false">4 Contact Info</a>
        </li>
        <li class="nav-item account-setup__nav">
            <a class="nav-link disabled" id="AreaWorked-tab" data-toggle="pill" href="#AreaWorked" role="tab" aria-controls="pills-AreaWorked" aria-selected="false">5 Area Worked</a>
        </li>
        <li class="nav-item account-setup__nav">
            <a class="nav-link disabled" id="LessonPrice-tab" data-toggle="pill" href="#LessonPrice" role="tab" aria-controls="pills-LessonPrice" aria-selected="false">6 Lesson Prices</a>
        </li>
        <li class="nav-item account-setup__nav">
            <a class="nav-link disabled" id="LessonSlot-tab" data-toggle="pill" href="#LessonSlots" role="tab" aria-controls="pills-LessonSlot" aria-selected="false">7 Lesson Slots</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="PrimaryInfo" role="tabpanel" aria-labelledby="pills-home-tab">
            <form id="PrimaryInfoForm">
                <div class="row">
                    <div class="from-group account-setup__input-group col-md-6">
                        <label for="txtFirstName">First Name</label>
                        <input class="form-control" id="txtFirstName" type="text" name="txtFirstName" placeholder="First name" />
                    </div>
                    <div class="from-group account-setup__input-group col-md-6">
                        <label for="txtLastName">Last Name</label>
                        <input class="form-control" id="txtLastName" type="text" name="txtLastName" placeholder="Last name" />
                    </div>
                    <div class="from-group account-setup__input-group col-md-6">
                        <label for="txtLastName">Date Qualified</label>
                        <input class="form-control datepicker" id="txtDateQuilified" type="text" name="txtDateQuilified" placeholder="dd/mm/yyyy" />
                    </div>
                    <div class="from-group account-setup__input-group col-md-6">
                        <label for="drpdwnGrade">Driving Instructor Grade</label>
                        <select class="form-control" id="drpdwnGrade" name="drpdwnGrade">
                            <option val="1">Select Grade</option>
                            <option val="1">A</option>
                            <option val="2">B</option>
                        </select>
                    </div>
                </div>
            </form>
            <button id="btnNext_1" form="PrimaryInfoForm" class="account-setup__btn-next btn btn-primary btn-lg"><i class="fas fa-arrow-right"></i> Next</button>
        </div>

        <div class="tab-pane fade" id="ProfilePicture" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">

                <div class="col-md-4 align-self-center">
                    <form id="ProfilePictureForm" class="file-uploader">
                        <div class="file-uploader__ui">
                            <i class="fas fa-upload file-uploader__icon"></i>
                            <input class="file-uploader__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
                            <label for="file"><strong>Add Profile Picture</strong><span class="file-uploader__dragndrop"> or drag it here</span>.</label>
                            <button class="file-uploader__btn btn btn-outline-primary" type="submit">Upload</button>
                        </div>
                        <div class="file-uploader__uploading">Uploading</div>
                        <div class="file-uploader__success">Done!</div>
                        <div class="file-uploader__error">Error! <span></span>.</div>
                    </form>
                </div>
                <div class="col-md-8 align-self-center">
                    <p> It is not essential but adding a pretty picture to make you more recognizable</p>
                </div>

                <button id="btnNext_2" form="ProfilePictureForm" class="account-setup__btn-next btn btn-primary btn-lg"><i class="fas fa-arrow-right"></i> Next</button>
            </div>
        </div>

        <div class="tab-pane fade" id="AboutMe" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="section__about-me">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="editor-tab" data-toggle="tab" href="#editor" role="tab" aria-controls="home" aria-selected="true">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="preview-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="profile" aria-selected="false">Preview</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <form id="AboutMeForm"></form>
                    <div class="tab-pane fade show active" id="editor" role="tabpanel" aria-labelledby="home-tab">
                        <div id="live-preview-form">
                            <textarea id="txtEdtDrivingInstructorProfile"></textarea>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="profile-tab">
                        <div id="lp-message"></div>
                    </div>
                </div>
            </div>
            <button id="btnNext_3" form="AboutMeForm" class="account-setup__btn-next btn btn-primary btn-lg"><i class="fas fa-arrow-right"></i> Next</button>

        </div>



        <div class="tab-pane fade" id="ContactInfo" role="tabpanel" aria-labelledby="pills-profile-tab">
            <form id="ContactMeForm">
                <p>Select</p>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkPhoneNumber">
                        <label class="custom-control-label" for="chkPhoneNumber">Phone Number</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkFacebook">
                        <label class="custom-control-label" for="chkFacebook">Facebook</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkTwitter">
                        <label class="custom-control-label" for="chkTwitter">Twitter</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkInstagram">
                        <label class="custom-control-label" for="chkInstagram">Instagram</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkWhatsApp">
                        <label class="custom-control-label" for="chkWhatsApp">WhatsApp</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkViber">
                        <label class="custom-control-label" for="chkViber">Viber</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkSkype">
                        <label class="custom-control-label" for="chkSkype">Skype</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkLinkedIn">
                        <label class="custom-control-label" for="chkLinkedIn">LinkedIn</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkYouTube">
                        <label class="custom-control-label" for="chkYouTube">YouTube</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkWeChat">
                        <label class="custom-control-label" for="chkWeChat">WeChat</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkWeChat">
                        <label class="custom-control-label" for="chkWeChat">WeChat</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkTikTok">
                        <label class="custom-control-label" for="chkTikTok">TikTok</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkReddit">
                        <label class="custom-control-label" for="chkReddit">Reddit</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkSnapChat">
                        <label class="custom-control-label" for="chkSnapChat">SnapChat</label>
                    </div>
                </div>
                <div class="input-group row">
                    <div class="custom-control custom-checkbox col-md-6">
                        <input type="checkbox" class="custom-control-input contactMe-form-checkbox" id="chkTelegraph">
                        <label class="custom-control-label" for="chkTelegraph">Telegraph</label>
                    </div>
                </div>
            </form>

            <button id="btnNext_4" form="ContactMeForm" class="account-setup__btn-next btn btn-primary btn-lg"><i class="fas fa-arrow-right"></i> Next</button>
        </div>

        <div class="tab-pane fade" id="AreaWorked" role="tabpanel" aria-labelledby="pills-contact-tab">
            <form id="AreasWorkedForm">
                <div class="input-group">
                    <label for="txtCityOrTown">City or Town</label>
                    <input class="form-control" id="txtCityOrTown" type="text" name="txtCityOrTown" placeholder="Name of City or Town" />
                </div>
            </form>
            <button id="btnNext_5" form="AreasWorkedForm" class="account-setup__btn-next btn btn-primary btn-lg"><i class="fas fa-arrow-right"></i> Next</button>
        </div>
        <div class="tab-pane fade" id="LessonPrice" role="tabpanel" aria-labelledby="pills-contact-tab">
            <form id="LessonPricesForm">
                <h3>Base Price</h3>
                <button id="btnAddOffer" class="btn btn-outline-primary">+ Add Offer</button>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="txtPrice">Price:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">£</span>
                            </div>
                            <input id="txtPrice" class="form-control" type="number" min="0.01" max="9999" step="0.01" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtLessonLength">Lesson Length (in minutes)</label>
                        <input id="txtLessonLength" class="form-control" type="number" min="0.1" max="24" step="0.1" />
                    </div>
                </div>
                <h3>Offers List</h3>
                <ol id="pricingTable" class="list-group col">
                    <li class="list-group-item">
                        <i class="fas fa-arrows-alt handle"></i>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Lesson title:</label>
                                <input class="form-control" placeholder="Lesson title" type="text" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Price:</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">£</span>
                                    </div>
                                    <input class="form-control" type="number" placeholder="26.99" min="0.01" max="9999" step="0.01" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Number of lessons:</label>
                                <input class="form-control" type="number" placeholder="1" min="1" max="100" step="1" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Lesson length (in minutes):</label>
                                <input class="form-control" type="number" placeholder="60" min="1" max="600" step="1" required />
                            </div>
                        </div>
                        <button class="btn btn-danger btnDelete"><i class="fas fa-trash"></i>Remove</button>

                    </li>
                </ol>
            </form>
            <button id="btnNext_6" form="LessonPricesForm" class="account-setup__btn-next btn btn-primary btn-lg"><i class="fas fa-arrow-right"></i> Next</button>
        </div>
        <div class="tab-pane fade" id="LessonSlots" role="tabpanel" aria-labelledby="pills-contact-tab">
            <form id="LessonSlotsForm"></form>
            <button id="btnNext_7" form="LessonSlotsForm" class="account-setup__btn-finish btn btn-primary btn-lg"> Finish</button>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {


            $(function () {
                $.validator.methods.date = function (value, element) {
                    return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
                }
                $('.datepicker').datepicker({
                    format: "dd/mm/yyyy",
                    startDate: "01/01/1940",
                    endDate: "today",
                    autoclose: true,
                    maxViewMode: 3,
                    todayHighlight: true
                }).val("");
            });

            var navPillsArray = document.querySelectorAll(".account-setup__nav .nav-link");

            function navToTap(i) {// i = index of tab
                var currentTab = document.querySelector(navPillsArray[i - 1].getAttribute("href"));
                var nextTab = document.querySelector(navPillsArray[i].getAttribute("href"));

                console.log(currentTab);
                currentTab.classList.remove("active");
                currentTab.classList.remove("show");

                nextTab.classList.add("active");
                nextTab.classList.add("show");

                navPillsArray[i - 1].classList.remove("active")
                navPillsArray[i].classList.add("active")
                navPillsArray[i - 1].setAttribute("aria-selected", false);
                navPillsArray[i].setAttribute("aria-selected", true);
            }

            $(".account-setup__btn-next").on("click", function (e) {
                e.preventDefault();
                var indexOfTab = e.target.id.split("_")[1] - 0;
                navPillsArray[indexOfTab].classList.remove("disabled");
                navToTap(indexOfTab);
            });

            tinyMCE.init({
                selector: "#txtEdtDrivingInstructorProfile",
                plugins: 'print preview fullpage powerpaste searchreplace autolink directionality advcode visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount tinymcespellchecker a11ychecker imagetools mediaembed  linkchecker contextmenu colorpicker textpattern help',
                toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
                image_advtab: true,
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tinymce.com/css/codepen.min.css'
                ],
                setup: function (ed) {
                    ed.on("keyup", function () {
                        $('#lp-message').html(tinymce.activeEditor.getContent());
                    });
                }
            });

            $("#ContactMeForm").on("change", ".contactMe-form-checkbox", function (e) {
                var element = e.target;
                var txtName = element.id.replace("chk", "txt");
                if (element.checked) {
                    var htmlMarkup = '' +
                        '<div class="col-md-6">' +
                        '<input class="form-control" id="' + txtName + '" type="text" name="' + txtName + '" placeholder="temptexp" />' +
                        '</div>';
                    element.parentElement.parentElement.insertAdjacentHTML("beforeend", htmlMarkup);
                } else {
                    $("#" + txtName).parent().remove();
                }

            });


            $("#btnAddOffer").on("click", function () {
                var htmlMarkup = '' +
                    '<li class="list-group-item" >' +
                    '<i class="fas fa-arrows-alt handle"></i>' +
                    ' <div class="row">' +
                    '<div class="form-group col-md-6">' +
                    '<label>Lesson title:</label>' +
                    '<input class="form-control" placeholder="Lesson title" type="text" required />' +
                    '</div>' +
                    '<div class="form-group col-md-6">' +
                    '<label>Price:</label>' +
                    '<div class="input-group mb-3">' +
                    '<div class="input-group-prepend">' +
                    '<span class="input-group-text">£</span>' +
                    '</div>' +
                    '<input class="form-control" type="number" placeholder="26.99" min="0.01" max="9999" step="0.01" />' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group col-md-6">' +
                    '<label>Number of lessons:</label>' +
                    '<input class="form-control" type="number" placeholder="1" min="1" max="100" step="1" required />' +
                    '</div>' +
                    '<div class="form-group col-md-6">' +
                    '<label>Lesson length (in minutes):</label>' +
                    '<input class="form-control" type="number" placeholder="60" min="1" max="600" step="1" required />' +
                    '</div>' +
                    '</div>' +
                    '<button class="btn btn-danger btnDelete"><i class="fas fa-trash"></i> Delete</button>' +
                    '</li>';
                $(htmlMarkup).hide().appendTo("#pricingTable").fadeIn(300);
            });

            $("#pricingTable").on("click", ".btnDelete", function () {
                var listElement = $(this).parent();
                listElement.fadeOut(200, function () {
                    listElement.remove();
                })
            });


            $("#btnUploadOffers").on("click", function (e) {
                e.preventDefault();

            });

            new Sortable(pricingTable, {
                handle: '.handle',
                animation: 150
            });

        });
    </script>
}