
@{
    ViewBag.Title = "Instructor Profile";
}
<div class="instructor-profile">
    <div class="primary">
        <img src="" alt="" class="primary__banner" />
        <div class="primary__container row">
            <div class="primary__container--left col-lg-6">
                <div class="primary__profile-pic"></div>
                <p class="primary__name">Driving Instructor Name</p>
            </div>
            <div class="primary__container--right col-lg-6">
                <div class="primary__rating">
                    <p class="primary__rating--number">5/5</p>
                </div>
            </div>
        </div>
    </div>
    <div class="instrcutor-data row">
        <div class="instructor-data__left col-lg-3">
            <div class="instructor-data__containct-info">
                <h2 class="instructor-data__social-container">Social Media</h2>
            </div>
        </div>
        <div class="instructor-data__right col-lg-9">
            <nav id="instructor-data__nav" class="navbar navbar-light bg-light">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#AboutMe">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Calendar">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Pricing">Pricing</a>
                    </li>
                </ul>
            </nav>
            <div data-spy="scroll" data-target="#instructor-data__nav" data-offset="0">
                <div class="section__about-me">
                    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="editor-tab" data-toggle="tab" href="#editor" role="tab" aria-controls="home" aria-selected="true">Edit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="preview-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="profile" aria-selected="false">Preview</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="editor" role="tabpanel" aria-labelledby="home-tab">
                            <div id="live-preview-form">
                                <textarea id="txtEdtDrivingInstructorProfile"></textarea>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="profile-tab">
                            <div id="lp-message"></div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="button"><i class="fas fa-arrow-circle-up" aria-hidden="true"></i> Submit About Me</button>
                <hr />
                <div class="section__rating">
                    <h2 id="Reviews">Review Section</h2>
                    <div class="reviews">
                        <div class="reviews__controlls">
                            <select class="reviews_rateing form-control">
                                <option value="1">All Reviews</option>
                                <option value="2">5 Start</option>
                                <option value="3">4 Start</option>
                                <option value="4">3 Start</option>
                                <option value="5">2 Start</option>
                                <option value="6">1 Start</option>
                            </select>
                            <select class="reviews__order form-control">
                                <option value="1">Newest First</option>
                                <option value="2">Oldest First</option>
                            </select>
                            <div class="reviews__container">
                                <div class="review">
                                    <img src="" alt="" class="review__student-profile-pic" />
                                    <h5 class="review__student-name"></h5>
                                    <h3 class="review__title"></h3>
                                    <p class="review__body"></p>
                                    <h6 class="review__date"></h6>
                                </div>
                            </div>
                            <div class="reviews__nav-buttons">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="section__calendar">
                    <h2 id="Calendar">Calendar</h2>
                    <div id="calendar"></div>
                    <hr />
                </div>

                <div class="section__pricing">
                    <h2 id="Pricing">Pricing</h2>
                    <h3>Base Price</h3>
                    <button id="btnAddOffer" class="btn btn-outline-primary">+ Add Offer</button>
                    <button id="btnUploadOffers" class="btn btn-outline-primary"><i class="fas fa-arrow-circle-up"></i> Update OffersList</button>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="txtPrice">Price:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">£</span>
                                </div>
                                <input id="txtPrice" class="form-control" type="number" min="0.01" max="9999" step="0.01" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtLessonLength">Lesson Length (in minutes)</label>
                            <input id="txtLessonLength" class="form-control" type="number" min="0.1" max="24" step="0.1" />
                        </div>
                    </div>
                    <h3>Offers List</h3>
                    <ol id="pricingTable" class="list-group col">
                        <li class="list-group-item">
                            <i class="fas fa-arrows-alt handle"></i>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Lesson title:</label>
                                    <input class="form-control" placeholder="Lesson title" type="text" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Price:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">£</span>
                                        </div>
                                        <input class="form-control" type="number" placeholder="26.99" min="0.01" max="9999" step="0.01" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Number of lessons:</label>
                                    <input class="form-control" type="number" placeholder="1" min="1" max="100" step="1" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Lesson length (in minutes):</label>
                                    <input class="form-control" type="number" placeholder="60" min="1" max="600" step="1" required />
                                </div>
                            </div>
                            <button class="btn btn-primary btnSave"><i class="far fa-save"></i> Save</button>

                            <button class="btn btn-danger btnDelete"><i class="fas fa-trash"></i> Delete</button>
                            <button class="btn btn-info btnUpdate"><i class="fas fa-pen"></i> Update</button>
                        </li>
                    </ol>
                    <hr />
                </div>
            </div>


        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $("#btnAddOffer").on("click", function () {
                var htmlMarkup = '' +
                    '<li class="list-group-item" >' +
                    '<i class="fas fa-arrows-alt handle"></i>' +
                    ' <div class="row">' +
                    '<div class="form-group col-md-6">' +
                    '<label>Lesson title:</label>' +
                    '<input class="form-control" placeholder="Lesson title" type="text" required />' +
                    '</div>' +
                    '<div class="form-group col-md-6">' +
                    '<label>Price:</label>' +
                    '<div class="input-group mb-3">' +
                    '<div class="input-group-prepend">' +
                    '<span class="input-group-text">£</span>' +
                    '</div>' +
                    '<input class="form-control" type="number" placeholder="26.99" min="0.01" max="9999" step="0.01" />' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group col-md-6">' +
                    '<label>Number of lessons:</label>' +
                    '<input class="form-control" type="number" placeholder="1" min="1" max="100" step="1" required />' +
                    '</div>' +
                    '<div class="form-group col-md-6">' +
                    '<label>Lesson length (in minutes):</label>' +
                    '<input class="form-control" type="number" placeholder="60" min="1" max="600" step="1" required />' +
                    '</div>' +
                    '</div>' +
                    '<button class="btn btn-danger btnDelete"><i class="fas fa-trash"></i> Delete</button>' +
                    '</li>';
                $(htmlMarkup).hide().appendTo("#pricingTable").fadeIn(300);
                //$("#pricingTable").append(htmlMarkup);
            });

            $("#pricingTable").on("click", ".btnDelete", function () {
                var listElement = $(this).parent();
                listElement.fadeOut(200, function () {
                    listElement.remove();
                })
            });


            $("#btnUploadOffers").on("click", function (e) {
                e.preventDefault();

            });

            new Sortable(pricingTable, {
                handle: '.handle',
                animation: 150
            });

            tinyMCE.init({
                selector: "#txtEdtDrivingInstructorProfile",
                plugins: 'print preview fullpage powerpaste searchreplace autolink directionality advcode visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount tinymcespellchecker a11ychecker imagetools mediaembed  linkchecker contextmenu colorpicker textpattern help',
                toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
                image_advtab: true,
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tinymce.com/css/codepen.min.css'
                ],
                setup: function (ed) {
                    ed.on("keyup", function () {
                        $('#lp-message').html(tinymce.activeEditor.getContent());
                    });
                }
            });

            $('#calendar').fullCalendar({
                themeSystem: 'bootstrap4',
                lang: "en-gb",
                defaultView: 'agendaWeek',
                weekNumbers: true,
                firstDay: 1,
                axisFormat: 'H(:mm)', //,'h(:mm)tt',
                timeFormat: {
                    agenda: 'H(:mm)' //h:mm{ - h:mm}'
                },
                views: {
                    week: { columnFormat: 'ddd DD/MM' }
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                }
            })

        });
    </script>

}

